@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="slider-holder">
        <div class="slider">
            <ul class="items">
                <li><img src="../../Content/images/slide-1.jpg" alt=""/></li>
                <li><img src="../../Content/images/slide-2.jpg" alt=""/></li>
                <li><img src="../../Content/images/slide-3.jpg" alt=""/></li>
                <li><img src="../../Content/images/slide-4.jpg" alt=""/></li>
            </ul>
        </div>
        <a class="play"></a>
    </div> 
</header>
<section id="content-1" class="p7">
    <div class="container_12">
        <article>
            <div class="grid_3">
                <img class="ident-bot-2" src="../../Content/images/1page_img1.jpg" width="210" height="132" alt=""/>
                <div class="ident-bot-3">
                    <h2>Mecânico<br/></h2>
                    <h2 class="h2 ident-top-1">confiabilidade</h2>
                </div>
                <p class="ident-bot-4">Antes de deixar seu veículo em alguma oficina mecânica, procure alguma referência sobre a qualidade do serviço.<br /> Dessa forma evitando surpresas desagradáveis.</p>
                <!--<a class="button" href="more.html">saiba</a>-->
            </div>
            <div class="grid_3">
                <img class="ident-bot-2" src="../../Content/images/1page_img2.jpg" width="210" height="132" alt=""/>
                <div class="ident-bot-3">
                    <h2>Revisão</h2>
                    <h2 class="h2 ident-top-1">periódica</h2>
                </div>
                <p class="ident-bot-4">Após conhecer uma oficina de confiança, procure orientação do profissional e saiba quais são as peças de necessitam de revisão em seu veículo.</p>
                <!--<a class="button" href="more.html">saiba</a>-->
            </div>
            <div class="grid_3">
                <img class="ident-bot-2" src="../../Content/images/1page_img3.jpg" width="210" height="132" alt=""/>
                <div class="ident-bot-3">
                    <h2>Escapamento</h2>
                    <h2 class="h2 ident-top-1">anualmente</h2>
                </div>
                <p class="ident-bot-4">Fique sempre atento aos barulhinhos que seu veículo apresenta, principalmente ao acelerar demais. <br />"Roncos" muito fortes podem ser problemas com escapamento, com isso aumentando o consumo de combustível.</p>
                <!--<a class="button" href="more.html">saiba</a>-->
            </div>
            <div class="grid_3">
                <img class="ident-bot-2" src="../../Content/images/1page_img4.jpg" width="210" height="132" alt=""/>
                <div class="ident-bot-3">
                    <h2>Rodas</h2>
                    <h2 class="h2 ident-top-1">Tamanhos</h2>
                </div>
                <p class="ident-bot-4">Rodas grandes e chamativas são legais! Mas evite rodas cujo tamanho ultrapasse a caixa de rodas, pois isso pode gerar multa ao condutor.</p>
                <!--<a class="button" href="more.html">saiba</a>-->
            </div>
            <div class="clear"></div>
        </article>
    </div>
</section>
<section id="content-2" class="p8">
    <div class="container_12">
        <div>
            <div class="grid_6">
                <h2 class="ident-bot-5 ident-top-2">Nossas dicas <span class="h2 inner-ident-1">de revisão.</span></h2>
                <p class="ident-bot-6"><strong class="strong-1">As partes citadas abaixo geralmente sofrem uma depreciação mais rápida ao longo do tempo de uso.</strong></p>
                <div class="wrapper ident-bot-7">
                    <div class="grid_3 alpha">
                        <ul class="list-2">
                            <li>Pastilhas de freio</li>
                            <li>Lona de freio</li>
                            <li>Caixa de marcha</li>
                            <li>Óleo</li>
                            <li>Filtro de óleo</li>
                        </ul>
                    </div>
                    <div class="grid_3 omega">
                        <ul class="list-2">
                            <li>Escapamento</li>
                            <li>Bateria eletrica</li>
                            <li>Carburador</li>
                            <li>Pneu</li>
                            <li>Lâmpadas</li>
                        </ul>
                    </div>
                </div>                            
            </div>
            <div class="grid_6">
                <div class="block-2">
                    <h2 class="ident-bot-6">Opniões</h2>
                    <div class="block-3 ident-bot-1">
                        <p>Ipsum dolor sit amet conse ctetur adipisicing elit, sed do eius <br/> mod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="extra-1"></div>
                    </div>
                    <div class="block-4 ident-bot-1">Ipsum dolor sit amet conse ctet</div>
                    <div class="block-3 ident-bot-1">
                        <p>Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod <br/> tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="extra-1"></div>
                    </div>
                    <div class="block-4 ident-bot-7">Sit amet conse ctet</div>
                    <p><a class="link-1" href="more.html">Ver todos</a> <img class="extra-2" src="../../Content/images/extra-2.png" alt=""/></p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>