@{
    ViewBag.Title = "Index";
}
</header> 
 
<section id="content-2">
    <div class="container_12">
        <div class="">
            <div class="grid_5">
                  <div>
                    <div class="ident-bot-8">
                        <h2>Busca de Veículo</h2>
                        <h2 class="h2 ident-top-1">Abaixo</h2>
                    </div>
                    <p class="ident-bot-5">Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie acus. Aenean nonummy.</p>
                    <form id="form-2" method="get">
                        <fieldset>
                            <span class="ident-bot-11">
                                <span class="inner-ident-2 fl-l">Tipo de Veículo</span>
                                <span class="fl-r">
                                    <select name="select1">
                                        <option value="opt1">&nbsp;</option>
                                        <option value="opt2">&nbsp;</option>
                                        <option value="opt3">&nbsp;</option>
                                    </select>
                                </span>
                                <span class="clear"></span>
                            </span>
                            <span class="ident-bot-11">
                                <span class="inner-ident-2 fl-l">Marca</span>
                                <span class="fl-r">
                                    <select name="select1">
                                        <option value="opt1">&nbsp;</option>
                                        <option value="opt2">&nbsp;</option>
                                        <option value="opt3">&nbsp;</option>
                                    </select>
                                </span>
                                <span class="clear"></span>
                            </span>
                            <span class="ident-bot-11">
                                <span class="inner-ident-2 fl-l">Modelo</span>
                                <span class="fl-r">
                                    <select name="select1">
                                        <option value="opt1">&nbsp;</option>
                                        <option value="opt2">&nbsp;</option>
                                        <option value="opt3">&nbsp;</option>
                                    </select>
                                </span>
                                <span class="clear"></span>
                            </span>
                            <a class="button fl-r" onClick="document.getElementById('form-2').submit()">Buscar</a>
                            <div class="clear"></div>
                        </fieldset>
                    </form>
                </div>
                <div class="wrapper ident-bot-16">
                    <div class="ident-bot-11">
                        <h2>Lorem Ipsum</h2>
                        <h2 class="h2 ident-top-1">Importantus</h2>
                    </div>
                    <p class="ident-bot-11"><strong class="strong-1">Dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore.</strong></p>
                    <p class="ident-bot-4">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. </p>
                    <img class="ident-bot-15" src="../../Content/images/3page_img1.jpg" width="369" height="184" alt=""/>
                    <p class="ident-bot-11">Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie acus. Aenean nonummy hendrerit mauris. Phasellus porta.</p>
                    <ul class="list-2">
                        <li><a href="#">Loren Ipsum</a></li>
                        <li><a href="#">Loren Ipsum</a></li>
                        <li><a href="#">Loren Ipsum</a></li>
                        <li><a href="#">Loren Ipsum</a></li>
                        <li><a href="#">Loren Ipsum</a></li>
                        <li><a href="#">Loren Ipsum</a></li>
                    </ul>
                </div>
     
            </div>
            <div class="grid_7">
                <div class="wrapper ident-bot-21">
                    <div class="ident-bot-11">
                        <h2>Categorias</h2>
                        <h2 class="h2 ident-top-1">Lorem Ipsum</h2>
                    </div>
                    <div class="wrapper ident-bot-20">
                        <figure class="fl-l ident-top-5 ident-right-2">
                            <a href="flash/video_AS3.swf?width=369&amp;height=184&amp;fileVideo=intro06.flv" class="lightbox-video" data-gal="prettyPhoto[pp_gal]">
                                <img src="../../Content/images/3page_img2.jpg" alt="">
                                <span></span>
                            </a>
                        </figure>
                        <div class="extra-wrap">
                            <p class="video-caption ident-bot-1">Video 1</p>
                            <p class="ident-bot-8">Aliquam congue fermentum nisl. <br/> Mauris accumsan nulla vel diam. Sed <br/> in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula</p>
                            <p>01:03</p>
                        </div>
                    </div>
                    <div class="wrapper ident-bot-20">
                        <figure class="fl-l ident-top-5 ident-right-2">
                            <a href="flash/video_AS3.swf?width=369&amp;height=184&amp;fileVideo=intro06.flv" class="lightbox-video" data-gal="prettyPhoto[pp_gal]">
                                <img src="../../Content/images/3page_img3.jpg" alt="">
                                <span></span>
                            </a>
                        </figure>
                        <div class="extra-wrap">
                            <p class="video-caption ident-bot-1">Video 2</p>
                            <p class="ident-bot-8">Aliquam congue fermentum nisl. <br/> Mauris accumsan nulla vel diam. Sed <br/> in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula</p>
                            <p>01:03</p>
                        </div>
                    </div>
                    <div class="wrapper ident-bot-20">
                        <figure class="fl-l ident-top-5 ident-right-2">
                            <a href="flash/video_AS3.swf?width=369&amp;height=184&amp;fileVideo=intro06.flv" class="lightbox-video" data-gal="prettyPhoto[pp_gal]">
                                <img src="../../Content/images/3page_img4.jpg" alt="">
                                <span></span>
                            </a>
                        </figure>
                        <div class="extra-wrap">
                            <p class="video-caption ident-bot-1">Video 3</p>
                            <p class="ident-bot-8">Aliquam congue fermentum nisl. <br/> Mauris accumsan nulla vel diam. Sed <br/> in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula</p>
                            <p>01:03</p>
                        </div>
                    </div>
                    <div class="wrapper">
                        <figure class="fl-l ident-top-5 ident-right-2">
                            <a href="flash/video_AS3.swf?width=369&amp;height=184&amp;fileVideo=intro06.flv" class="lightbox-video" data-gal="prettyPhoto[pp_gal]">
                                <img src="../../Content/images/3page_img5.jpg" alt="">
                                <span></span>
                            </a>
                        </figure>
                        <div class="extra-wrap">
                            <p class="video-caption ident-bot-1">Video 4</p>
                            <p class="ident-bot-8">Aliquam congue fermentum nisl. <br/> Mauris accumsan nulla vel diam. Sed <br/> in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula</p>
                            <p>01:03</p>
                        </div>
                    </div>
                </div>
                <div>
                    <h2 class="ident-bot-11">On Time <span class="h2 inner-ident-1">Guarantee</span></h2>
                    <p class="ident-bot-8"><strong class="strong-1">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod.</strong></p>
                    <p class="ident-bot-4">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan.</p>
                    <a class="button" href="more.html">Saiba</a>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    <div class="clear"></div>
    </div>
</section> 

