@model carOnline.Models.tblAdministrador

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Areas/Administrativo/Views/Shared/_Admin.cshtml";
}
	<div class="panel-wrapper">	

		<div class="panel-wrapper fixed">	        

			<div class="panel">

				<div class="title">
					<h4>Cadastro de Administrador</h4>	
				</div>

                <div id="Msg-error">
                    @TempData["mensagemRetorno"]
                </div><!-- MOSTRAR MsgAlerta DE VALIDACAO -->
                    
                    @using (Html.BeginForm("Cadastrar", "Administrador", new { area = "Administrativo" }, FormMethod.Post, new { @class="formularioCadastroAdministrador" }))
                    {
                        <div class="group fixed">
						    <label for="nome">Nome:</label>
						    @Html.TextBoxFor(Model => Model.nome, new { @class = "campoTexto campoNomeAdministrador", maxlength = "60", size = "40" })<span class="campoObrigatorio" title="Este campo é obrigatório!">*</span>
					    </div>
                        <div class="group fixed">
						    <label for="nome">E-mail:</label>
						    @Html.TextBoxFor(Model => Model.email, new { @class = "campoTexto campoEmailAdministrador", maxlength = "60", size = "40" })<span class="campoObrigatorio" title="Este campo é obrigatório!">*</span>
					    </div>
                        <div class="group fixed">
						    <label for="nome">Senha:</label>
						    @Html.PasswordFor(Model => Model.senha, new { @class = "campoTexto campoSenhaAdministrador", maxlength = "8" })<span class="campoObrigatorio" title="Este campo é obrigatório!">*</span>
					    </div>
                            
                        <p>
                            <input type="submit" value="Cadastrar" class="button-red" />
                            <input type="reset"  class="button-red" value="limpar" />
                        </p>
                    }
                </div><!-- panel -->

			<div class="shadow"></div>			

		</div><!-- panel-wrapper fixed -->	

	</div><!-- panel-wrapper -->
<br />
<br />