@model carOnline.Models.tblParametro
@{
    ViewBag.Title = "Parametro";
    Layout = "~/Areas/Administrativo/Views/Shared/_LayoutAreaAdministrativa.cshtml";
}

<br />
<br />

<div id="areaParametros">
    <p class="mensagemRetorno">@TempData["mensagemRetorno"]</p>
    <br />
    <p class="titulo">Cadastro de Parâmetros</p>
    <br />
    @using (Html.BeginForm("CadastrarParametroImagem", "Parametro", new { area = "Administrativo" }, FormMethod.Post, new { @class = "formularioParametro" }))
    {
        <p><label for="descricao" class="label">Descricao  :</label>@Html.TextAreaFor(m => m.descricao, new { @class = "campoTexto campoDescricaoParametro", maxlength = "200", rows="4",cols="30" })<span class="campoObrigatorio"  title="Este campo é obrigatório!">*</span></p>
        <p><label for="valor" class="label">Valor :</label>@Html.TextBoxFor(m => m.valor, new { @class = "campoTexto campoValorParametro", maxlength = "300", size = "40" })<span class="campoObrigatorio"  title="Este campo é obrigatório!">*</span></p>

        <p><label for="TipoParametro" class="label">Tipo do Parâmetro  :</label>@Html.DropDownList("TipoParametro", null, new { @class = "campoTexto" })</p>

        <br />
        <br />
        <p><input type="submit" value="Cadastrar" class="botao" /><input type="reset" class="botao" value="limpar" /></p>
    }
</div>
<br />
<br /> 

