@using carOnline.Models
@model List<tblFuncionario>
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/Administrativo/Views/Shared/_LayoutAreaAdministrativa.cshtml";
}
<br />
<br />
<div id="areaConsulta">
    <p class="mensagemSucesso">@TempData["mensagemRetorno"]</p>
    <br />
    <p class="titulo">Consulta de Funcionário</p>
    <br />
    <br />

    @{
        var gridFuncionarios = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 3);
        gridFuncionarios.Pager(WebGridPagerModes.NextPrevious);
        //@gridFuncionarios.GetHtml();
        @gridFuncionarios.GetHtml(
            tableStyle:"webGrid",
            htmlAttributes:new {id="tabelaFuncionarios"},
            alternatingRowStyle:"alt",
            columns:gridFuncionarios.Columns(
                gridFuncionarios.Column("idFuncionario","Código"),
                gridFuncionarios.Column("nome","Nome"),
                gridFuncionarios.Column("email","Email"),
                gridFuncionarios.Column(header:"Alterar",format :@<text>@Html.ActionLink("Alterar","Alteracao","Funcionario",new {id = item.idFuncionario},new {@class="links"})</text>),
                gridFuncionarios.Column(header:"Deletar",format :@<text><a class="links linkDeletarFuncionario" href="#" id="@item.idFuncionario">Deletar</a></text>)
            )  
        );
    }
</div>
<br />
<br /> 