@model carOnline.Models.tblParametro
@{
    ViewBag.Title = "Parametro";
    Layout = "~/Areas/Administrativo/Views/Shared/_Admin.cshtml";
}
	<div class="panel-wrapper">	

		<div class="panel-wrapper fixed">	        

			<div class="panel">

				<div class="title">
					<h4>Cadastro de Seguradora</h4>	
				</div>

                <div id="Msg-error">
                    @TempData["mensagemRetorno"]
                </div><!-- MOSTRAR MsgAlerta DE VALIDACAO -->
                
                @using (Html.BeginForm("CadastrarParametroImagem", "Parametro", new { area = "Administrativo" }, FormMethod.Post, new { @class = "formularioParametro" }))
                {
                    <div class="group fixed">
					    <label for="descricao">Descrição:</label>
                        @Html.TextAreaFor(m => m.descricao, new { @class = "campoTexto campoDescricaoParametro", maxlength = "200", rows = "4", cols = "30" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				    </div>   
                    
                    <div class="group fixed">
					    <label for="valor">Valor:</label>
                        @Html.TextBoxFor(m => m.valor, new { @class = "campoTexto campoValorParametro", maxlength = "300", size = "40" })<span class="campoObrigatorio"  title="Este campo é obrigatório!"></span>
				    </div>   
                    
                    <div class="group fixed">
					    <label for="TipoParametro">Tipo de Parâmetro:</label>
                        @Html.DropDownList("TipoParametro", null, new { @class = "campoTexto" })
				    </div>   
                    
                    <p><input type="submit" value="Cadastrar" class="button-red" /> <input type="reset" class="button-red" value="limpar" /></p>
                 }
                </div><!-- panel -->

			<div class="shadow"></div>			

		</div><!-- panel-wrapper fixed -->	

	</div><!-- panel-wrapper -->
