@using carOnline.Models
@model List<ConsultarParametro_Result>
@{
    ViewBag.Title = "Consulta";
    Layout = "~/Areas/Administrativo/Views/Shared/_Admin.cshtml";
}
<div class="panel-wrapper">	

	<div class="panel-wrapper fixed">	
            
        <div id="Msg-error">
            @TempData["mensagemRetorno"]
        </div><!-- MOSTRAR MsgAlerta DE VALIDACAO -->
	
    	<div class="panel">
			<div class="title">
				<h4>Consulta de Parâmetro</h4>	
			</div>
            @{
                var gridParametros = new WebGrid(Model, canPage: true, canSort: true, rowsPerPage: 3);
                gridParametros.Pager(WebGridPagerModes.NextPrevious);
                @gridParametros.GetHtml(
                    tableStyle:"webGrid",
                    htmlAttributes:new {id="tabelaParametros"},
                    alternatingRowStyle:"alt",
                    columns:gridParametros.Columns(
                        gridParametros.Column("Codigo"),
                        gridParametros.Column("Descricao"),
                        gridParametros.Column("Valor"),
                        gridParametros.Column("Tipo"),
                        gridParametros.Column(header:"Alterar",format :@<text>@Html.ActionLink("Alterar","Alteracao","Parametro",new {id = item.Codigo},new {@class="links"})</text>)
                    )  
                );
            }
            </div><!-- panel -->

			<div class="shadow"></div>			

		</div><!-- panel-wrapper fixed -->	

	</div><!-- panel-wrapper --> 