@{
    ViewBag.Title = "Contato";
}

</header> 
 
<section id="content-2">
    <div class="container_12">
        <div>
            <div class="grid_5">
                <div class="ident-bot-15">
                    <h2>Nosso</h2>
                    <h2 class="h2 ident-top-1">Endereço</h2>
                </div>
                <div class="ident-bot-6">
                    <iframe width="325" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/maps?q=R.+Timbiras,+1532&amp;ie=UTF8&amp;hq=&amp;hnear=R.+dos+Timbiras,+1532+-+Lourdes,+Belo+Horizonte+-+Minas+Gerais,+30140-061&amp;gl=br&amp;ll=-19.927059,-43.937501&amp;spn=0.042364,0.084543&amp;t=h&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/maps?q=R.+Timbiras,+1532&amp;ie=UTF8&amp;hq=&amp;hnear=R.+dos+Timbiras,+1532+-+Lourdes,+Belo+Horizonte+-+Minas+Gerais,+30140-061&amp;gl=br&amp;ll=-19.927059,-43.937501&amp;spn=0.042364,0.084543&amp;t=h&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left"></a></small>
                </div>
                <div class="extra-wrap">
                    <dl class="dl1">
                        <dt>The Company Name Inc. <br/>
                        8901 Marmora Road, <br/>
                        Glasgow, D04 89GR.</dt>
                        <dd><span>+1 800 559 6580</span>Freephone:</dd>
                        <dd><span>+1 800 603 6035</span>Telephone:</dd>
                        <dd><span>+1 800 889 9898</span>FAX:</dd>
                        <dd>E-mail: <a class="link-2" href="#"><span class="__cf_email__" data-cfemail="6805090104280c0d05070401060346071a0f">[email&nbsp;protected]</span><script type="text/javascript">
                        /* <![CDATA[ */
                        (function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
                        /* ]]> */
                        </script></a></dd>
                    </dl>
                </div>
            </div>
            <div class="grid_7">
                <div class="ident-bot-6">
                    <h2>Cadastro de</h2>
                    <h2 class="h2 ident-top-1">Usuário</h2>
                </div>
 
                <div id="confirm">
                    <form id="form1">
                        <div class="success"><div class="success_txt">Contact form submitted!<br/><strong> We will be in touch soon.</strong></div></div>
                        <fieldset>
                            <label class="name">
                                <input type="text" value="Loren Ipsum"/>
                                <span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <label class="email">
                                <input type="text" value="Loren Ipsum"/>
                                <span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <label class="phone">
                                <input type="text" value="Loren Ipsum"/>
                                <span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <label class="message">
                                <textarea>Messagem</textarea>
                                <span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>
                            </label>
                            <div class="clear"></div>
                            <div class="btns"><a href="#" class="button" data-type="reset">Limpar</a><a href="#" class="button" data-type="submit">Enviar</a></div>
                        </fieldset>
                    </form>
                </div> 
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section> 