@{
    ViewBag.Title = "Index";
}
</header>
<section id="content-1">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_4">
                <div class="ident-bot-8">
                    <h2>Nossa</h2>
                    <h2 class="h2 ident-top-1">missão</h2>
                </div>
                <p class="ident-bot-1"><strong>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue.</strong></p>
                <p class="ident-bot-1">Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula.</p>
                <p class="ident-bot-1"><strong>Consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy mauris. </strong></p>
                <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus. mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec lorem. Maecenas tristique orci.</p>
            </div>
            <div class="grid_8">
                <div class="ident-bot-8">
                    <h2>Termos de Uso</h2>
                    <h2 class="h2 ident-top-1">negócios</h2>
                </div>
                <img class="fl-l ident-right-1 ident-top-3 ident-bot-10 ident-bot-11" src="../../Content/images/2page_img1.jpg" width="292" height="152" alt=""/>
                <p class="ident-bot-1"><strong>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </strong></p>
                <p class="ident-bot-10">Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
                <p class="ident-bot-9">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. </p>
                <a class="button" href="more.html">saiba</a>
            </div>
        </div>
    </div>
</section>
<section id="content-2">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_4">
                <div class="ident-bot-12">
                    <h2>Especialização</h2>
                    <h2 class="h2 ident-top-4">Indústria Automobilística</h2>
                </div>
                <p class="ident-bot-6"><strong class="strong-1">Aliquam congue fermentum. Mauris accumsan nulla vel diam in lacus.</strong></p>
                <img class="ident-bot-4" src="../../Content/images/2page_img8.jpg" width="292" height="152" alt=""/>
                <p class="ident-bot-13">Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                <ul class="list-2 ident-bot-3">
                    <li><a href="#">Proin ullamcorper urna</a></li>
                    <li><a href="#">Aenean auctor wisi et urna</a></li>
                    <li><a href="#">Integer rutrum ante eu lacus</a></li>
                    <li><a href="#">Mauris accumsan nulla</a></li>
                </ul>
                <p class="ident-bot-4">Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus.</p>
                <a class="button" href="more.html">saiba</a>
            </div>
            <div class="grid_8">
                <h2 class="ident-bot-6">Equipe de <span class="h2 inner-ident-1">Funcionários</span></h2>
                <div class="wrapper ident-bot-4">
                    <div class="column-1 fl-l">
                        <img class="ident-bot-14" src="../../Content/images/2page_img2.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">John Franklin </a></strong></p>
                        <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img3.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Sam Kromstain</a></strong></p>
                        <p>Nulla venenatis. In pede mi, aliquet sit amet auctor ut, ligula. Phasellus porta.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img4.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Alan Smith</a></strong></p>
                        <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.</p>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="column-1 fl-l">
                        <img class="ident-bot-14" src="../../Content/images/2page_img5.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Bradley Grosh</a></strong></p>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img6.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Patrick Pool</a></strong></p>
                        <p>Consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img7.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Mark Johnson</a></strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
