@{
    ViewBag.Title = "Quem Somos";
}
</header>
<section id="content-1">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_4">
                <div class="ident-bot-8">
                    <h2>Nossa</h2>
                    <h2 class="h2 ident-top-1">missão</h2>
                </div>
                <p class="ident-bot-1"><strong>Fornecer a comunicação de usuários que desejam vender seus veículos.</strong></p>
                <p class="ident-bot-1">Fornecer com segurança a exibição e integridade dos dados.</p>
                <p class="ident-bot-1"><strong>Fornecer aos usuários a possíbilidade de encontrar o que precisam de forma rápida.</strong></p>
                <p>Fornecer as ferramentas mais utilizadas na web, que falicitará a vida de nossos clientes.</p>
            </div>
            <div class="grid_8">
                <div class="ident-bot-8">
                    <h2>Quem</h2>
                    <h2 class="h2 ident-top-1">Somos</h2>
                </div>
                <img class="fl-l ident-right-1 ident-top-3 ident-bot-10 ident-bot-11" src="../../Content/images/2page_img8.jpg" width="292" height="152" alt=""/>
                <p class="ident-bot-1"><strong>Somos uma empresa especializada em comunicação de venda de veículos on-line.</strong></p>
                <p class="ident-bot-10">Fundada em 2013, a CarOnline está entre as maiores empresas do ramo do país. A empresa deu início em um projeto de faculdade, porém, após a apresentação do mesmo os desenvolvedores notaram o grande potêncial desse projeto no mercado atual.</p>
                <p class="ident-bot-9">Logo em seguida, os desenvolvedores e proprietários da CarOnline, iniciaram um abordagem mais profissional e dispuseram o serviço a todo o mundo, atrávez da internet. Onde atualmente é um dos sites de busca de veículos mais acessados do país.</p>
            </div>
        </div>
    </div>
</section>
<section id="content-2">
    <div class="container_12">
        <div class="wrapper">
            <div class="grid_4">
                <div class="ident-bot-12">
                    <h2>Termos</h2>
                    <h2 class="h2 ident-top-4">de Uso</h2>
                </div>
                <p class="ident-bot-6"><strong class="strong-1">Atenção aos termos descritos abaixo, pois eles garantem a integridade dos dados postados no site.</strong></p>
                <img class="ident-bot-4" src="../../Content/images/2page_img1.jpg" width="292" height="152" alt=""/>
                <p class="ident-bot-13">Como toda empresa, temos algumas regras que devem ser seguidas para que não haja nenhum tipo de problema. Caso alguma regra abaixo seja violada, seu dados poderão ser deletados sem nenhum aviso prévio.</p>
                <ul class="list-2 ident-bot-3">
                    <li>Não postar palavrões.</li>
                    <li>Não cadastrar imagens impróprias.</li>
                    <li>Não nos responsabilizamos por nenhuma negociação financeira.</li>
                    <li>Não ofenda os outros usuários do sistema.</li>
                </ul>                
            </div>
            <div class="grid_8">
                <h2 class="ident-bot-6">Equipe de <span class="h2 inner-ident-1">Funcionários</span></h2>
                <div class="wrapper ident-bot-4">
                    <div class="column-1 fl-l">
                        <img class="ident-bot-14" src="../../Content/images/2page_img2.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">John Franklin </a></strong></p>
                        <p>Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img3.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Sam Kromstain</a></strong></p>
                        <p>Nulla venenatis. In pede mi, aliquet sit amet auctor ut, ligula. Phasellus porta.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img4.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Alan Smith</a></strong></p>
                        <p>Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.</p>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="column-1 fl-l">
                        <img class="ident-bot-14" src="../../Content/images/2page_img5.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Bradley Grosh</a></strong></p>
                        <p>Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img6.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Patrick Pool</a></strong></p>
                        <p>Consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl.</p>
                    </div>
                    <div class="column-1 fl-l ident-left-1">
                        <img class="ident-bot-14" src="../../Content/images/2page_img7.jpg" width="186" height="224" alt=""/>
                        <p class="ident-bot-3"><strong class="strong-1"><a href="more.html">Mark Johnson</a></strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
