@model carOnline.Models.tblAdministrador

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Areas/Administrativo/Views/Shared/_LayoutAreaAdministrativa.cshtml";
}

<h2>Cadastro</h2>
@using (Html.BeginForm("Cadastrar", "Administrador", new { area= "Administrativo" },FormMethod.Post))
{
    <p><label for="" class="">Nome  :</label>@Html.TextBoxFor(Model=> Model.nome)</p>
    <p><label for="" class="">Email :</label>@Html.TextBoxFor(Model=> Model.email)</p>
    <p><label for="" class="">Senha :</label>@Html.PasswordFor(Model=> Model.senha)</p>
    <p><input type="submit" value="Cadastrar" /><input type="reset" value="limpar" /></p>
}