USE [master]
GO
/****** Object:  Database [CarOnline]    Script Date: 05/05/2013 16:33:42 ******/
CREATE DATABASE [CarOnline] ON  PRIMARY 
( NAME = N'CarOnline', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CarOnline.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CarOnline_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CarOnline_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarOnline].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarOnline]
GO
/****** Object:  Table [dbo].[tblPais]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblPais](
	[idPais] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](20) NOT NULL,
	[sigla] [varchar](3) NOT NULL,
	[iso] [int] NULL,
 CONSTRAINT [PK_tblPais] PRIMARY KEY CLUSTERED 
(
	[idPais] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblPais] ON
INSERT [dbo].[tblPais] ([idPais], [nome], [sigla], [iso]) VALUES (1, N'Brasil', N'BR', NULL)
SET IDENTITY_INSERT [dbo].[tblPais] OFF
/****** Object:  Table [dbo].[tblCor]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCor](
	[idCor] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblCor] PRIMARY KEY CLUSTERED 
(
	[idCor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCor] ON
INSERT [dbo].[tblCor] ([idCor], [descricao]) VALUES (1, N'Azul')
INSERT [dbo].[tblCor] ([idCor], [descricao]) VALUES (2, N'Vermelho')
INSERT [dbo].[tblCor] ([idCor], [descricao]) VALUES (3, N'Verde')
SET IDENTITY_INSERT [dbo].[tblCor] OFF
/****** Object:  Table [dbo].[tblCargo]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCargo](
	[idCargo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](30) NOT NULL,
	[ativo] [varchar](1) NULL,
 CONSTRAINT [PK_tblCargo] PRIMARY KEY CLUSTERED 
(
	[idCargo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCargo] ON
INSERT [dbo].[tblCargo] ([idCargo], [descricao], [ativo]) VALUES (1, N'Supervisor', N'S')
INSERT [dbo].[tblCargo] ([idCargo], [descricao], [ativo]) VALUES (2, N'Coordenador', N'N')
INSERT [dbo].[tblCargo] ([idCargo], [descricao], [ativo]) VALUES (3, N'Gerente de Vendas', N'N')
SET IDENTITY_INSERT [dbo].[tblCargo] OFF
/****** Object:  Table [dbo].[tblUsuario]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUsuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[senha] [varchar](32) NOT NULL,
	[telefone] [varchar](13) NULL,
	[celular] [varchar](14) NULL,
	[dataCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_tblUsuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblUsuario] ON
INSERT [dbo].[tblUsuario] ([idUsuario], [nome], [email], [senha], [telefone], [celular], [dataCadastro]) VALUES (3, N'Berlinha', N'berlinha@gmail.com', N'123', N'', N'', CAST(0x0000A18A00000000 AS DateTime))
INSERT [dbo].[tblUsuario] ([idUsuario], [nome], [email], [senha], [telefone], [celular], [dataCadastro]) VALUES (6, N'Teixeira Almeida', N'teixeira@gmail.com', N'123', NULL, NULL, CAST(0x0000A18A00B93FDD AS DateTime))
INSERT [dbo].[tblUsuario] ([idUsuario], [nome], [email], [senha], [telefone], [celular], [dataCadastro]) VALUES (7, N'Geraldo', N'geraldo.estudos.trabalho@gmail.com', N'123', N'(31)1901-9019', N'(31)19019-0190', CAST(0x0000A18A00BD81B1 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblUsuario] OFF
/****** Object:  Table [dbo].[tblTipoVeiculo]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoVeiculo](
	[idTipoVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblTipoVeiculo] PRIMARY KEY CLUSTERED 
(
	[idTipoVeiculo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblTipoVeiculo] ON
INSERT [dbo].[tblTipoVeiculo] ([idTipoVeiculo], [descricao]) VALUES (1, N'Carro')
INSERT [dbo].[tblTipoVeiculo] ([idTipoVeiculo], [descricao]) VALUES (2, N'Caminhão')
INSERT [dbo].[tblTipoVeiculo] ([idTipoVeiculo], [descricao]) VALUES (3, N'Moto')
SET IDENTITY_INSERT [dbo].[tblTipoVeiculo] OFF
/****** Object:  Table [dbo].[tblTipoPermissao]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoPermissao](
	[idTipoPermissao] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblTipoPermissao] PRIMARY KEY CLUSTERED 
(
	[idTipoPermissao] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblTipoPermissao] ON
INSERT [dbo].[tblTipoPermissao] ([idTipoPermissao], [descricao]) VALUES (1, N'Administrador')
INSERT [dbo].[tblTipoPermissao] ([idTipoPermissao], [descricao]) VALUES (2, N'Gerencial')
INSERT [dbo].[tblTipoPermissao] ([idTipoPermissao], [descricao]) VALUES (3, N'Supervisão')
SET IDENTITY_INSERT [dbo].[tblTipoPermissao] OFF
/****** Object:  Table [dbo].[tblTipoParametro]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoParametro](
	[idTipoParametro] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](60) NOT NULL,
 CONSTRAINT [PK_tblTipoParametro] PRIMARY KEY CLUSTERED 
(
	[idTipoParametro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblTipoParametro] ON
INSERT [dbo].[tblTipoParametro] ([idTipoParametro], [descricao]) VALUES (1, N'Imagem')
SET IDENTITY_INSERT [dbo].[tblTipoParametro] OFF
/****** Object:  Table [dbo].[tblTipoCombustivel]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTipoCombustivel](
	[idTipoCombustivel] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](40) NOT NULL,
 CONSTRAINT [PK_tblTipoCombustivel] PRIMARY KEY CLUSTERED 
(
	[idTipoCombustivel] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblTipoCombustivel] ON
INSERT [dbo].[tblTipoCombustivel] ([idTipoCombustivel], [descricao]) VALUES (1, N'Gasolina')
INSERT [dbo].[tblTipoCombustivel] ([idTipoCombustivel], [descricao]) VALUES (2, N'Álcool')
INSERT [dbo].[tblTipoCombustivel] ([idTipoCombustivel], [descricao]) VALUES (3, N'Flex')
SET IDENTITY_INSERT [dbo].[tblTipoCombustivel] OFF
/****** Object:  Table [dbo].[tblSeguradora]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSeguradora](
	[idSeguradora] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[telefone] [varchar](13) NULL,
	[celular] [varchar](14) NULL,
	[dataCadastro] [datetime] NOT NULL,
 CONSTRAINT [PK_tblSeguradora] PRIMARY KEY CLUSTERED 
(
	[idSeguradora] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblSeguradora] ON
INSERT [dbo].[tblSeguradora] ([idSeguradora], [nome], [email], [telefone], [celular], [dataCadastro]) VALUES (2, N'Teste', N'teste@gmail.com', NULL, NULL, CAST(0x0000A19D01472736 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblSeguradora] OFF
/****** Object:  Table [dbo].[tblParametro]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblParametro](
	[idParametro] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](200) NOT NULL,
	[valor] [varchar](300) NOT NULL,
	[idTipoParametro] [int] NOT NULL,
 CONSTRAINT [PK_tblParametro] PRIMARY KEY CLUSTERED 
(
	[idParametro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblParametro] ON
INSERT [dbo].[tblParametro] ([idParametro], [descricao], [valor], [idTipoParametro]) VALUES (1, N'Configura o limite para o tamanho da imagem', N'1048576', 1)
SET IDENTITY_INSERT [dbo].[tblParametro] OFF
/****** Object:  Table [dbo].[tblMarcaVeiculo]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblMarcaVeiculo](
	[idMarcaVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NOT NULL,
	[idTipoVeiculo] [int] NOT NULL,
 CONSTRAINT [PK_tblMarcaVeiculo] PRIMARY KEY CLUSTERED 
(
	[idMarcaVeiculo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblMarcaVeiculo] ON
INSERT [dbo].[tblMarcaVeiculo] ([idMarcaVeiculo], [descricao], [idTipoVeiculo]) VALUES (1, N'Ford', 1)
INSERT [dbo].[tblMarcaVeiculo] ([idMarcaVeiculo], [descricao], [idTipoVeiculo]) VALUES (2, N'Fiat', 1)
INSERT [dbo].[tblMarcaVeiculo] ([idMarcaVeiculo], [descricao], [idTipoVeiculo]) VALUES (9, N'Volvo', 2)
SET IDENTITY_INSERT [dbo].[tblMarcaVeiculo] OFF
/****** Object:  Table [dbo].[tblEstado]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEstado](
	[idEstado] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[sigla] [varchar](2) NOT NULL,
	[idPais] [int] NOT NULL,
 CONSTRAINT [PK_tblEstado] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblEstado] ON
INSERT [dbo].[tblEstado] ([idEstado], [nome], [sigla], [idPais]) VALUES (1, N'Acre', N'AC', 1)
INSERT [dbo].[tblEstado] ([idEstado], [nome], [sigla], [idPais]) VALUES (2, N'Alagoas', N'AL', 1)
INSERT [dbo].[tblEstado] ([idEstado], [nome], [sigla], [idPais]) VALUES (3, N'Amapá', N'AP', 1)
SET IDENTITY_INSERT [dbo].[tblEstado] OFF
/****** Object:  Table [dbo].[tblAdministrador]    Script Date: 05/05/2013 16:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblAdministrador](
	[idAdministrador] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[email] [varchar](60) NOT NULL,
	[senha] [varchar](32) NOT NULL,
	[dataCadastro] [datetime] NOT NULL,
	[idTipoPermissao] [int] NOT NULL,
 CONSTRAINT [PK_tblAdministrador] PRIMARY KEY CLUSTERED 
(
	[idAdministrador] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblAdministrador] ON
INSERT [dbo].[tblAdministrador] ([idAdministrador], [nome], [email], [senha], [dataCadastro], [idTipoPermissao]) VALUES (3, N'Joao Batista', N'joao@teste.com.br', N'1', CAST(0x0000A18600B18F83 AS DateTime), 1)
INSERT [dbo].[tblAdministrador] ([idAdministrador], [nome], [email], [senha], [dataCadastro], [idTipoPermissao]) VALUES (6, N'Beto Marmotinha', N'beto@gmail.com', N'123', CAST(0x0000A18800D894C3 AS DateTime), 1)
INSERT [dbo].[tblAdministrador] ([idAdministrador], [nome], [email], [senha], [dataCadastro], [idTipoPermissao]) VALUES (7, N'Wellington', N'wellington@gmail.com', N'123', CAST(0x0000A19D014DAD96 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblAdministrador] OFF
/****** Object:  StoredProcedure [dbo].[ConsultarParametro]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarParametro]
as
	select 
		parametro.idParametro as Codigo,
		parametro.descricao as Descricao,
		parametro.valor as Valor,
		tipo.descricao as Tipo
		
	from tblParametro as parametro 
	join tblTipoParametro as tipo on parametro.idTipoParametro = tipo.idTipoParametro
	order by Tipo
GO
/****** Object:  Table [dbo].[tblModeloVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblModeloVeiculo](
	[idModeloVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](50) NOT NULL,
	[idMarcaVeiculo] [int] NOT NULL,
 CONSTRAINT [PK_tblModeloVeiculo] PRIMARY KEY CLUSTERED 
(
	[idModeloVeiculo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblModeloVeiculo] ON
INSERT [dbo].[tblModeloVeiculo] ([idModeloVeiculo], [descricao], [idMarcaVeiculo]) VALUES (1, N'Escort', 1)
INSERT [dbo].[tblModeloVeiculo] ([idModeloVeiculo], [descricao], [idMarcaVeiculo]) VALUES (2, N'Fiesta', 1)
INSERT [dbo].[tblModeloVeiculo] ([idModeloVeiculo], [descricao], [idMarcaVeiculo]) VALUES (3, N'Fiesta Sedan', 1)
SET IDENTITY_INSERT [dbo].[tblModeloVeiculo] OFF
/****** Object:  Table [dbo].[tblCidade]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCidade](
	[idCidade] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[idEstado] [int] NOT NULL,
 CONSTRAINT [PK_tblCidade] PRIMARY KEY CLUSTERED 
(
	[idCidade] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblCidade] ON
INSERT [dbo].[tblCidade] ([idCidade], [nome], [idEstado]) VALUES (1, N'Acrelândia', 1)
INSERT [dbo].[tblCidade] ([idCidade], [nome], [idEstado]) VALUES (2, N'Assis Brasil', 1)
INSERT [dbo].[tblCidade] ([idCidade], [nome], [idEstado]) VALUES (3, N'Brasiléia', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
GO
print 'Processed 4400 total records'
GO
print 'Processed 4500 total records'
GO
print 'Processed 4600 total records'
GO
print 'Processed 4700 total records'
GO
print 'Processed 4800 total records'
GO
print 'Processed 4900 total records'
GO
print 'Processed 5000 total records'
GO
print 'Processed 5100 total records'
GO
print 'Processed 5200 total records'
GO
print 'Processed 5300 total records'
GO
print 'Processed 5400 total records'
SET IDENTITY_INSERT [dbo].[tblCidade] OFF
/****** Object:  Table [dbo].[tblEnquete]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEnquete](
	[idEnquete] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](200) NOT NULL,
	[dataCadastro] [datetime] NOT NULL,
	[dataVigencia] [datetime] NOT NULL,
	[idAdministrador] [int] NOT NULL,
 CONSTRAINT [PK_tblEnquete] PRIMARY KEY CLUSTERED 
(
	[idEnquete] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblEnquete] ON
INSERT [dbo].[tblEnquete] ([idEnquete], [descricao], [dataCadastro], [dataVigencia], [idAdministrador]) VALUES (9, N'Qual é a cor do seu carro?', CAST(0x0000A1B400CD9513 AS DateTime), CAST(0x0000A1C000000000 AS DateTime), 3)
INSERT [dbo].[tblEnquete] ([idEnquete], [descricao], [dataCadastro], [dataVigencia], [idAdministrador]) VALUES (10, N'Qual a marca de carro que você mais gosta?', CAST(0x0000A1B500FB8B13 AS DateTime), CAST(0x0000A1C700000000 AS DateTime), 3)
INSERT [dbo].[tblEnquete] ([idEnquete], [descricao], [dataCadastro], [dataVigencia], [idAdministrador]) VALUES (12, N'Qual  o seu combustível preferido?', CAST(0x0000A1B5010F3169 AS DateTime), CAST(0x0000A1CE00000000 AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[tblEnquete] OFF
/****** Object:  Table [dbo].[tblFuncionario]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFuncionario](
	[idFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[idCidade] [int] NOT NULL,
	[bairro] [varchar](40) NOT NULL,
	[endereco] [varchar](255) NOT NULL,
	[telefone] [varchar](13) NULL,
	[celular] [varchar](14) NULL,
	[senha] [varchar](32) NULL,
	[email] [varchar](60) NOT NULL,
	[dataCadastro] [datetime] NOT NULL,
	[idTipoPermissao] [int] NOT NULL,
	[idCargo] [int] NOT NULL,
 CONSTRAINT [PK_tblFuncionario] PRIMARY KEY CLUSTERED 
(
	[idFuncionario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblFuncionario] ON
INSERT [dbo].[tblFuncionario] ([idFuncionario], [nome], [idCidade], [bairro], [endereco], [telefone], [celular], [senha], [email], [dataCadastro], [idTipoPermissao], [idCargo]) VALUES (6, N'Maria Turana Ninhas', 891, N'adasdasd', N'asdasd', N'', N'', N'123', N'maria@gmail.com', CAST(0x0000A18800D307B7 AS DateTime), 2, 5)
INSERT [dbo].[tblFuncionario] ([idFuncionario], [nome], [idCidade], [bairro], [endereco], [telefone], [celular], [senha], [email], [dataCadastro], [idTipoPermissao], [idCargo]) VALUES (7, N'Marilda Carnila', 1476, N'asdasdasd', N'asdasdasd', NULL, NULL, N'123', N'marilda@gmail.com', CAST(0x0000A18800DBB729 AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[tblFuncionario] OFF
/****** Object:  Table [dbo].[tblOpcaoEnquete]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOpcaoEnquete](
	[idOpcaoEnquete] [int] IDENTITY(1,1) NOT NULL,
	[idEnquete] [int] NULL,
	[descricao] [varchar](200) NULL,
	[tipo] [varchar](20) NULL,
	[quantidadeVotos] [int] NULL,
 CONSTRAINT [PK_tblOpcaoEnquete] PRIMARY KEY CLUSTERED 
(
	[idOpcaoEnquete] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblOpcaoEnquete] ON
INSERT [dbo].[tblOpcaoEnquete] ([idOpcaoEnquete], [idEnquete], [descricao], [tipo], [quantidadeVotos]) VALUES (1, 9, N'Azul', N'RadioButton', 0)
INSERT [dbo].[tblOpcaoEnquete] ([idOpcaoEnquete], [idEnquete], [descricao], [tipo], [quantidadeVotos]) VALUES (2, 9, N'Preto', N'RadioButton', 0)
INSERT [dbo].[tblOpcaoEnquete] ([idOpcaoEnquete], [idEnquete], [descricao], [tipo], [quantidadeVotos]) VALUES (3, 9, N'Cinza', N'RadioButton', 0)
SET IDENTITY_INSERT [dbo].[tblOpcaoEnquete] OFF
/****** Object:  Table [dbo].[tblVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblVeiculo](
	[idVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[descricao] [varchar](max) NULL,
	[preco] [float] NOT NULL,
	[quilometragem] [float] NOT NULL,
	[portas] [int] NULL,
	[idCor] [int] NOT NULL,
	[ano] [int] NOT NULL,
	[motor] [varchar](200) NULL,
	[idModeloVeiculo] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[dataCadastro] [datetime] NOT NULL,
	[idTipoCombustivel] [int] NOT NULL,
 CONSTRAINT [PK_tblVeiculo] PRIMARY KEY CLUSTERED 
(
	[idVeiculo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblVeiculo] ON
INSERT [dbo].[tblVeiculo] ([idVeiculo], [descricao], [preco], [quilometragem], [portas], [idCor], [ano], [motor], [idModeloVeiculo], [idUsuario], [dataCadastro], [idTipoCombustivel]) VALUES (1, N'asdasdasd', 20000, 1000, 2, 1, 2010, N'1.6', 6, 7, CAST(0x0000A19100C32D6E AS DateTime), 2)
INSERT [dbo].[tblVeiculo] ([idVeiculo], [descricao], [preco], [quilometragem], [portas], [idCor], [ano], [motor], [idModeloVeiculo], [idUsuario], [dataCadastro], [idTipoCombustivel]) VALUES (3, N'asdasdasda', 10000, 1000000, 4, 2, 2013, N'1.0', 12, 7, CAST(0x0000A19100D4C80B AS DateTime), 2)
INSERT [dbo].[tblVeiculo] ([idVeiculo], [descricao], [preco], [quilometragem], [portas], [idCor], [ano], [motor], [idModeloVeiculo], [idUsuario], [dataCadastro], [idTipoCombustivel]) VALUES (5, N'assasass', 25000, 10000, 4, 3, 2012, N'1.2', 6, 7, CAST(0x0000A19100D6EE87 AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[tblVeiculo] OFF
/****** Object:  Table [dbo].[tblVendas]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVendas](
	[idVenda] [int] IDENTITY(1,1) NOT NULL,
	[preco] [float] NOT NULL,
	[dataVenda] [datetime] NOT NULL,
	[idVeiculo] [int] NOT NULL,
 CONSTRAINT [PK_tblVendas] PRIMARY KEY CLUSTERED 
(
	[idVenda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblVendas] ON
INSERT [dbo].[tblVendas] ([idVenda], [preco], [dataVenda], [idVeiculo]) VALUES (1, 20000, CAST(0x0000A19B00000000 AS DateTime), 1)
INSERT [dbo].[tblVendas] ([idVenda], [preco], [dataVenda], [idVeiculo]) VALUES (2, 10000, CAST(0x0000A19B00000000 AS DateTime), 3)
INSERT [dbo].[tblVendas] ([idVenda], [preco], [dataVenda], [idVeiculo]) VALUES (3, 25000, CAST(0x0000A19B00000000 AS DateTime), 5)
SET IDENTITY_INSERT [dbo].[tblVendas] OFF
/****** Object:  StoredProcedure [dbo].[RelatorioCarrosCadastrados]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RelatorioCarrosCadastrados]
@dataInicial varchar(20),
@dataFinal varchar(20),
@marca int,
@modelo int
as

select 
tipo.descricao as Tipo,
marca.descricao as Marca,
modelo.descricao as Modelo,
veiculo.ano as Ano,
cor.descricao as Cor,
veiculo.quilometragem as Quilometragem,
veiculo.motor as Motor,
veiculo.dataCadastro as Cadastro
 from tblVeiculo as veiculo 
join tblModeloVeiculo as modelo on modelo.idModeloVeiculo = veiculo.idModeloVeiculo
join tblMarcaVeiculo as marca on marca.idMarcaVeiculo = modelo.idMarcaVeiculo
join tblCor as cor on cor.idCor = veiculo.idCor
join tblTipoVeiculo as tipo on tipo.idTipoVeiculo = marca.idTipoVeiculo
where veiculo.dataCadastro between @dataInicial and @dataFinal
and modelo.idModeloVeiculo = @modelo or marca.idMarcaVeiculo = @marca
order by Tipo
GO
/****** Object:  StoredProcedure [dbo].[ConsultarVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ConsultarVeiculo]
@idUsuario int
as
	select v.idVeiculo as idVeiculo,tv.descricao as Tipo,mav.descricao as Marca,mv.descricao as Modelo,c.descricao as Cor,tc.descricao as TipoCombustivel,
	v.ano as Ano,v.preco as Preco,v.quilometragem as QuiloMetragem,v.portas as Portas, v.dataCadastro as Cadastro from tblVeiculo as v join tblModeloVeiculo as mv
	on v.idModeloVeiculo = mv.idModeloVeiculo
	join tblMarcaVeiculo as mav on mav.idMarcaVeiculo = mv.idMarcaVeiculo
	join tblCor c on c.idCor = v.idCor
	join tblTipoCombustivel tc on tc.idTipoCombustivel = v.idTipoCombustivel
	join tblTipoVeiculo tv on tv.idTipoVeiculo = mav.idTipoVeiculo
	where v.idUsuario = @idUsuario
GO
/****** Object:  Table [dbo].[tblFotosVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFotosVeiculo](
	[idFotoVeiculo] [int] IDENTITY(1,1) NOT NULL,
	[urlFoto] [varchar](500) NOT NULL,
	[dataCadastro] [datetime] NOT NULL,
	[idVeiculo] [int] NOT NULL,
 CONSTRAINT [PK_tblFotosVeiculo] PRIMARY KEY CLUSTERED 
(
	[idFotoVeiculo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblFotosVeiculo] ON
INSERT [dbo].[tblFotosVeiculo] ([idFotoVeiculo], [urlFoto], [dataCadastro], [idVeiculo]) VALUES (44, N'~/Content/images/veiculos/1/Koala.jpg', CAST(0x0000A1A401410FFD AS DateTime), 1)
INSERT [dbo].[tblFotosVeiculo] ([idFotoVeiculo], [urlFoto], [dataCadastro], [idVeiculo]) VALUES (46, N'~/Content/images/veiculos/1/Chrysanthemum.jpg', CAST(0x0000A1A401412C33 AS DateTime), 1)
INSERT [dbo].[tblFotosVeiculo] ([idFotoVeiculo], [urlFoto], [dataCadastro], [idVeiculo]) VALUES (49, N'~/Content/images/veiculos/3/Koala.jpg', CAST(0x0000A1B50107B791 AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[tblFotosVeiculo] OFF
/****** Object:  StoredProcedure [dbo].[RelatorioCarrosVendidos]    Script Date: 05/05/2013 16:33:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RelatorioCarrosVendidos]
@dataInicial varchar(20),
@dataFinal varchar(20),
@marca int,
@modelo int
as

select veiculo.ano as Ano, venda.idVeiculo as Codigo,marca.descricao as Marca, modelo.descricao as Modelo,venda.preco as ValorVenda,
combustivel.descricao as Combustivel,venda.dataVenda
from tblVendas as venda join tblVeiculo  as veiculo
on venda.idVeiculo = veiculo.idVeiculo join tblModeloVeiculo as modelo
on veiculo.idModeloVeiculo = modelo.idModeloVeiculo
join tblMarcaVeiculo as marca on marca.idMarcaVeiculo = modelo.idMarcaVeiculo
join tblTipoCombustivel as combustivel on combustivel.idTipoCombustivel = veiculo.idTipoCombustivel
where venda.dataVenda between @dataInicial and @dataFinal
and modelo.idModeloVeiculo = @modelo or marca.idMarcaVeiculo = @marca
 order by marca
GO
/****** Object:  ForeignKey [FK_tblParametro_tblTipoParametro]    Script Date: 05/05/2013 16:33:44 ******/
ALTER TABLE [dbo].[tblParametro]  WITH CHECK ADD  CONSTRAINT [FK_tblParametro_tblTipoParametro] FOREIGN KEY([idTipoParametro])
REFERENCES [dbo].[tblTipoParametro] ([idTipoParametro])
GO
ALTER TABLE [dbo].[tblParametro] CHECK CONSTRAINT [FK_tblParametro_tblTipoParametro]
GO
/****** Object:  ForeignKey [FK_tblMarcaVeiculo_tblTipoVeiculo]    Script Date: 05/05/2013 16:33:44 ******/
ALTER TABLE [dbo].[tblMarcaVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblMarcaVeiculo_tblTipoVeiculo] FOREIGN KEY([idTipoVeiculo])
REFERENCES [dbo].[tblTipoVeiculo] ([idTipoVeiculo])
GO
ALTER TABLE [dbo].[tblMarcaVeiculo] CHECK CONSTRAINT [FK_tblMarcaVeiculo_tblTipoVeiculo]
GO
/****** Object:  ForeignKey [FK_tblEstado_tblPais]    Script Date: 05/05/2013 16:33:44 ******/
ALTER TABLE [dbo].[tblEstado]  WITH CHECK ADD  CONSTRAINT [FK_tblEstado_tblPais] FOREIGN KEY([idPais])
REFERENCES [dbo].[tblPais] ([idPais])
GO
ALTER TABLE [dbo].[tblEstado] CHECK CONSTRAINT [FK_tblEstado_tblPais]
GO
/****** Object:  ForeignKey [FK_tblAdministrador_tblTipoPermissao]    Script Date: 05/05/2013 16:33:44 ******/
ALTER TABLE [dbo].[tblAdministrador]  WITH CHECK ADD  CONSTRAINT [FK_tblAdministrador_tblTipoPermissao] FOREIGN KEY([idTipoPermissao])
REFERENCES [dbo].[tblTipoPermissao] ([idTipoPermissao])
GO
ALTER TABLE [dbo].[tblAdministrador] CHECK CONSTRAINT [FK_tblAdministrador_tblTipoPermissao]
GO
/****** Object:  ForeignKey [FK_tblModeloVeiculo_tblMarcaVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblModeloVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblModeloVeiculo_tblMarcaVeiculo] FOREIGN KEY([idMarcaVeiculo])
REFERENCES [dbo].[tblMarcaVeiculo] ([idMarcaVeiculo])
GO
ALTER TABLE [dbo].[tblModeloVeiculo] CHECK CONSTRAINT [FK_tblModeloVeiculo_tblMarcaVeiculo]
GO
/****** Object:  ForeignKey [FK_tblCidade_tblEstado]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblCidade]  WITH CHECK ADD  CONSTRAINT [FK_tblCidade_tblEstado] FOREIGN KEY([idEstado])
REFERENCES [dbo].[tblEstado] ([idEstado])
GO
ALTER TABLE [dbo].[tblCidade] CHECK CONSTRAINT [FK_tblCidade_tblEstado]
GO
/****** Object:  ForeignKey [FK_tblEnquete_tblAdministrador]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblEnquete]  WITH CHECK ADD  CONSTRAINT [FK_tblEnquete_tblAdministrador] FOREIGN KEY([idAdministrador])
REFERENCES [dbo].[tblAdministrador] ([idAdministrador])
GO
ALTER TABLE [dbo].[tblEnquete] CHECK CONSTRAINT [FK_tblEnquete_tblAdministrador]
GO
/****** Object:  ForeignKey [FK_tblFuncionario_tblCargo]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblFuncionario]  WITH CHECK ADD  CONSTRAINT [FK_tblFuncionario_tblCargo] FOREIGN KEY([idCargo])
REFERENCES [dbo].[tblCargo] ([idCargo])
GO
ALTER TABLE [dbo].[tblFuncionario] CHECK CONSTRAINT [FK_tblFuncionario_tblCargo]
GO
/****** Object:  ForeignKey [FK_tblFuncionario_tblCidade]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblFuncionario]  WITH CHECK ADD  CONSTRAINT [FK_tblFuncionario_tblCidade] FOREIGN KEY([idCidade])
REFERENCES [dbo].[tblCidade] ([idCidade])
GO
ALTER TABLE [dbo].[tblFuncionario] CHECK CONSTRAINT [FK_tblFuncionario_tblCidade]
GO
/****** Object:  ForeignKey [FK_tblFuncionario_tblTipoPermissao]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblFuncionario]  WITH CHECK ADD  CONSTRAINT [FK_tblFuncionario_tblTipoPermissao] FOREIGN KEY([idTipoPermissao])
REFERENCES [dbo].[tblTipoPermissao] ([idTipoPermissao])
GO
ALTER TABLE [dbo].[tblFuncionario] CHECK CONSTRAINT [FK_tblFuncionario_tblTipoPermissao]
GO
/****** Object:  ForeignKey [FK_tblOpcaoEnquete_tblEnquete]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblOpcaoEnquete]  WITH CHECK ADD  CONSTRAINT [FK_tblOpcaoEnquete_tblEnquete] FOREIGN KEY([idEnquete])
REFERENCES [dbo].[tblEnquete] ([idEnquete])
GO
ALTER TABLE [dbo].[tblOpcaoEnquete] CHECK CONSTRAINT [FK_tblOpcaoEnquete_tblEnquete]
GO
/****** Object:  ForeignKey [FK_tblVeiculo_tblCor]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblVeiculo_tblCor] FOREIGN KEY([idCor])
REFERENCES [dbo].[tblCor] ([idCor])
GO
ALTER TABLE [dbo].[tblVeiculo] CHECK CONSTRAINT [FK_tblVeiculo_tblCor]
GO
/****** Object:  ForeignKey [FK_tblVeiculo_tblModeloVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblVeiculo_tblModeloVeiculo] FOREIGN KEY([idModeloVeiculo])
REFERENCES [dbo].[tblModeloVeiculo] ([idModeloVeiculo])
GO
ALTER TABLE [dbo].[tblVeiculo] CHECK CONSTRAINT [FK_tblVeiculo_tblModeloVeiculo]
GO
/****** Object:  ForeignKey [FK_tblVeiculo_tblTipoCombustivel]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblVeiculo_tblTipoCombustivel] FOREIGN KEY([idTipoCombustivel])
REFERENCES [dbo].[tblTipoCombustivel] ([idTipoCombustivel])
GO
ALTER TABLE [dbo].[tblVeiculo] CHECK CONSTRAINT [FK_tblVeiculo_tblTipoCombustivel]
GO
/****** Object:  ForeignKey [FK_tblVeiculo_tblUsuario]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblVeiculo_tblUsuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[tblUsuario] ([idUsuario])
GO
ALTER TABLE [dbo].[tblVeiculo] CHECK CONSTRAINT [FK_tblVeiculo_tblUsuario]
GO
/****** Object:  ForeignKey [FK_tblVendas_tblVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblVendas]  WITH CHECK ADD  CONSTRAINT [FK_tblVendas_tblVeiculo] FOREIGN KEY([idVeiculo])
REFERENCES [dbo].[tblVeiculo] ([idVeiculo])
GO
ALTER TABLE [dbo].[tblVendas] CHECK CONSTRAINT [FK_tblVendas_tblVeiculo]
GO
/****** Object:  ForeignKey [FK_tblFotosVeiculo_tblVeiculo]    Script Date: 05/05/2013 16:33:46 ******/
ALTER TABLE [dbo].[tblFotosVeiculo]  WITH CHECK ADD  CONSTRAINT [FK_tblFotosVeiculo_tblVeiculo] FOREIGN KEY([idVeiculo])
REFERENCES [dbo].[tblVeiculo] ([idVeiculo])
GO
ALTER TABLE [dbo].[tblFotosVeiculo] CHECK CONSTRAINT [FK_tblFotosVeiculo_tblVeiculo]
GO
